.idea

# Rust
/target
Cargo.lock

# Python
__pycache__/
*.pyc
*.egg-info/
*.egg

*.log
*.bkp
*.swp
*.drawio


.env

a.rs
a.json
b.json
a.slt
gold.tmp
NOTES.md
generated.slt
tools/sltgen/gen/

/doc0s
/src/tpcc/testdata/
